doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="/static/angular/angular.min.js")
    script(src="/static/react/react.min.js")
    script(src="/static/react/react-dom.min.js")
    script(src="/assets/angular_asset.js" defer)
    script(src="/react" defer)
  body
    h1 Hello World for ReactJS (+ express and Jade)
    div#ui-view
